@model ProfilesDB.Model.Profile



<div class="row justify-content-center" style="background-color:white; margin-top: 5%;">
<div class="row">
    
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Название</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Начало работы</label>
                <input asp-for="StartWorking" class="form-control" type="time"/>
                <span asp-validation-for="StartWorking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Заверщение раьоты</label>
                <input asp-for="EndWorking" class="form-control" type="time"/>
                <span asp-validation-for="EndWorking" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> Активный
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Создать" class="btn btn-primary" />
            </div>
        </form>
    </div>
 </div>
