@{
    ViewData["Title"] = "Дом";
}

<div>
    <h3>Links</h3>

   <p> @Html.ActionLink("Список работников", "Index", "Workers") </p>
    <p> @Html.ActionLink("Add Worker", "Create", "Workers")</p>
    
</div>
