
<div class="container" style="margin-top: 5%; ">
            <div class="center-block">
           
                <div class="container row">
                    <div class="col-lg-4 col-sm-4">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <a asp-controller="SearchByTagID" asp-action="Index">
                                    <img width="150" class="card-img-top" src="~/images/icons/019-job search.svg"><img>
                                    <label class="HomeCardsText" style="color:black">ПОИСК ПО МЕТКЕ</label>

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <a asp-controller="Workers" asp-action="Index">
                                    <img width="150" class="card-img-top" src="~/images/icons/007-worker.svg"><img>
                                    <label class="HomeCardsText" style="color:black">РАБОТНИКИ</label>

                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-4">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <a asp-controller="Workers" asp-action="Create">
                                    <img width="150" class="card-img-top" src="~/images/icons/016-employee.svg"><img>
                                    <label class="HomeCardsText" style="color:black">ДОБАВ. РАБОТНИКА</label>

                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-4" style="margin-top: 5%;">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <a asp-controller="Stat" asp-action="Index">
                                    <img width="150" class="card-img-top" src="~/images/icons/029-hierarchy.svg"><img>
                                    <label class="HomeCardsText" style="color:black">ИСТОРИЯ ПОСЕЩЕНИЙ</label>

                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-sm-4" style="margin-top: 5%;">
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                                <a asp-controller="Profile" asp-action="Index">
                                    <img width="150" class="card-img-top" src="~/images/icons/035-puzzle.svg"><img>
                                    <label class="HomeCardsText" style="color:black">Профили</label>

                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            
            </div>
</div>
    

